* {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    color: #212529;
    margin: 0;
    padding: 0;
}

/* TAGS */
h1 {
    font-size: 3.75rem;
}

h2 {
    font-size: 1.875;
}

h3 {
    font-size: 1.563rem;
}

h4 {
    font-size: 1.30rem;
}

body {
    background-color: #FFFFFF;
}


/* ID */

/* CLASS */
.navbar {
    background-color: #FF7F50;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.dashboard .nav-link {
    color: #212529;
    transition: 0.3s;
}

.nav-link:hover {
    color: #50D0FF;
}

.nav-link i {
    transition: 0.3s;
}

.nav-link:hover>i {
    color: #50D0FF;
}

.user-menu {
    display: flex;
    align-items: center;
}

/*--------- Body ---------*/
.body {
    min-height: 100vh;
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}


.product {
	border-style: ridge;
	box-shadow: 5px 5px 10px grey;
	padding-top: 10px;
}

.buy-button {
	background-color: #FF7F50;
    color: whitesmoke;
    padding: 12px;
    border-radius: 20px;
    transition: box-shadow .3s;
}

.buy-button a{
	background-color: #FF7F50;
    color: black;
    padding: 12px;
    border-radius: 20px;
    transition: box-shadow .3s;
	text-decoration: none;
}

.buy-button a:hover {
	background-color: #FF7F50;
    color: whitesmoke;
    padding: 12px;
    border-radius: 20px;
    transition: box-shadow .3s;
	text-decoration: none;
}

.buy {
	background-color: #FF7F50;
    color: black;
    padding: 12px;
    border-radius: 20px;
    transition: box-shadow .3s;
}

.buy a {
	background-color: #FF7F50;
    color: whitesmoke;
    padding: 12px;
    border-radius: 20px;
    transition: box-shadow .3s;
}

.body a {
	text-decoration: none;
	color: black;
}

.body a:hover {
	color: white;
}

/*------ Footer from pet profile ------*/ 

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #FF7F50;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.footer h4 {
    text-transform: uppercase;
}

.footer p {
    width: 75%;
}

.footer a {
    text-decoration: none;
    color: #212529;
    transition: 0.5s;
}

.quick-links a:hover {
    color: #50D0FF;
}

.quick-links li {
    padding-bottom: 0.25rem;
}

.dev-links a:hover {
    background-color: #50D0FF;
    color: #212529;
}

.dev-links i:hover {
    color: #212529;
}

.dev-links a:nth-child(1):hover {
    color: #50D0FF;
    background-color: #FF7F50;
}

.cet5 {
    text-align: center;
}
