* {
	box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    color: #212529;
    margin: 0;
    padding: 0;
}

/* TAGS */
h1 {
    font-size: 3.75rem;
}

h2 {
    font-size: 1.875;
}

h3 {
    font-size: 1.563rem;
}

h4 {
    font-size: 1.30rem;
}
h6 {
	font-size: 1.00rem;
}
p {
	font-size: 0.78rem;
}

body {
    background-color: #FFFFFF;
}

/* CLASS */
.navbar {
    background-color: #FF7F50;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.dashboard .nav-link {
    color: #212529;
    transition: 0.3s;
}

.nav-link:hover {
    color: #50D0FF;
}

.nav-link i {
    transition: 0.3s;
}

.nav-link:hover>i {
    color: #50D0FF;
}

.user-menu {
    display: flex;
    align-items: center;
}


/*------ Body --------*/

/*---styling the tab---*/
.body {
	background-color: #FFFFFF;
	min-height: 100vh;
	width: 100%;
	padding: 25px 15px;
}
.tab {
	float: left;
	background-color: #FFFFFF;
	width: 20%;
	height: 100vh;
}
/*--buttons tab--*/
.tab button {
	display: block;
	background-color: #FFFFFF;
	color: black;
	padding: 22px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.3s;
	font-size: 17px;
}

.tab button:hover{
	background-color:#F9DCC5;
}
.tab button.active{
	background-color:#F9DCC5;
}
.tabcontent {
	float: left;
	padding: 8px 12px;
	background-color: #F9DCC5;
	border-left: none; /**4px solid #FFFFFF;**/
	width: 80%;
	min-height: 100vh;
}

/*profile and account CSS*/
.user {
	margin-left: 150px;
	margin-top: 30px;
	width: 80%;
}
label {
	width: 180px;
	padding:10px 15px;
	font-size: 1.00rem;
	text-align: right;
}

input[type=text], select {
	width:350px;
	padding:5px 15px;
	display:inline-block;
	border:1px solid #ccc;
	border-radius:4px;
	box-sizing:border-box;
}

input[type=email], select {
	width:300px;
	padding:5px 15px;
	display:inline-block;
	border:1px solid #ccc;
	border-radius:4px;
	box-sizing:border-box;
}
input[type=password], select {
	width:300px;
	padding:5px 15px;
	display:inline-block;
	border:1px solid #ccc;
	border-radius:4px;
	box-sizing:border-box;
}

input[type=submit] {
	width:80%;
	background-color: #F9DCC5;
	color: black;
	padding: 12px 10px;
	cursor: pointer;
}
input[type=submit]:hover {
	background-color:#50D0FF;
}

/*other tabss*/
.purchaseTab button {
	background-color: #F9DCC5;
	color: black;
	padding: 5px 10px;
	width: 10%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.3s;
	font-size: 16px;
}
.purchaseTab button:hover{
	background-color:#FFFFFF;
}
.purchaseTab button.active{
	background-color:#FFFFFF;
}

.itemcontent {
	float: left;
	padding: 8px 12px;
	background-color: #FFFFFF;
	border-left: 4px solid #FFFFFF;
	width: 80%;
	min-height: 80vh;
}

/*------ Footer from pet profile ------*/ 

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #FF7F50;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.footer h4 {
    text-transform: uppercase;
}

.footer p {
    width: 75%;
}

.footer a {
    text-decoration: none;
    color: #212529;
    transition: 0.5s;
}

.quick-links a:hover {
    color: #50D0FF;
}

.quick-links li {
    padding-bottom: 0.25rem;
}

.dev-links a:hover {
    background-color: #50D0FF;
    color: #212529;
}

.dev-links i:hover {
    color: #212529;
}

.dev-links a:nth-child(1):hover {
    color: #50D0FF;
    background-color: #FF7F50;
}

.cet5 {
    text-align: center;
}
