* {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    color: #212529;
    margin: 0;
    padding: 0;
}

/* TAGS */
h1 {
    font-size: 3.75rem;
}

h2 {
    font-size: 1.875;
}

h3 {
    font-size: 1.563rem;
}

h4 {
    font-size: 1.30rem;
}

body {
    background-color: #f7839c;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 5%;
}

.col {
    flex-basis: 40%;
    margin-bottom: 5%;
    padding: 10px 6px;
    box-sizing: border-box;
}


/*------ Header ------*/
.header {
    background-color: #e4e1eb;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    color: #000000;
    min-height: 20vh;
    width: 100%;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    text-decoration: none;
    font-size: 18px;
}

.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.intro h1 {
    font-size: 60px;
}

.intro p {
    margin: 10px 0 40px;
    font-size: 15px;
}

.nav-btn {
    color: #000000;
}

.nav-btn::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #02006d;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-btn:hover::after {
    width: 100%;
}

.login-btn {
    background-color: #02006d;
    color: whitesmoke;
    padding: 12px;
    border-radius: 20px;
    transition: box-shadow .3s;
}

.login-btn:hover {
    box-shadow: 0 3px 10px 5px rgba(33, 33, 33, .2);
}

.btn {
    display: block;
    margin-top: 3%;
    text-decoration: none;
    background-color: #02006d;
    font-size: 15px;
    color: whitesmoke;
    padding: 12px 34px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: box-shadow .3s;
}

.btn:hover {
    box-shadow: 0 3px 10px 5px rgba(33, 33, 33, .2);
}

/*------ Body --------*/
.body {
    min-height: 100vh;
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
}

* {
    box-sizing: border-box;
}

.user-1 {
    flex: 25%;
    width: 25%;
    padding: 40px;
    height: 100vh;
    background-color: #ebb4ed;
    font-size: 20px;
    border-left-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;

}

.user-2 {
    flex: 50%;
    width: 75%;
    padding: 40px;
    height: 100vh;
    background-color: #ebb4ed;
    font-size: 20px;
    border-left-style: dotted;
    border-right-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
}

.user-1 p {
    text-align: left;
}

.user-1 img {
    border-radius: 50%;
}

.user-2 p {
    text-align: left;
}

.user-2 img {
    border-radius: 50%;
}

.row {
    display: flex;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/*------ Footer ------*/
.footer {
    background-color: #e4e1eb;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    color: #000000;
    min-height: 100vh;
    padding-top: 50px;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 5%;
}

.text-col h1 {
    font-size: 60px;
    margin-bottom: 30px;
}

.text-col p {
    margin-top: 0;
    margin-bottom: 10px;
}

.form-col {
    background-color: #02006d;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
        0 2px 4px rgba(0, 0, 0, 0.07),
        0 4px 8px rgba(0, 0, 0, 0.07),
        0 8px 16px rgba(0, 0, 0, 0.07),
        0 16px 32px rgba(0, 0, 0, 0.07),
        0 32px 64px rgba(0, 0, 0, 0.07);
    color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    width: 60%;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #f7839c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

hr {
    margin-top: 5%;
    margin-bottom: 5%;
}

/* ------ */
.navbar {
    background-color: #FF7F50;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.dashboard .nav-link {
    color: #212529;
    transition: 0.3s;
}

.nav-link:hover {
    color: #50D0FF;
}

.nav-link i {
    transition: 0.3s;
}

.nav-link:hover>i {
    color: #50D0FF;
}

.user-menu {
    display: flex;
    align-items: center;
}

/* ------ */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #FF7F50;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.footer h4 {
    text-transform: uppercase;
}

.footer p {
    width: 75%;
}

.footer a {
    text-decoration: none;
    color: #212529;
    transition: 0.5s;
}

.quick-links a:hover {
    color: #50D0FF;
}

.quick-links li {
    padding-bottom: 0.25rem;
}

.dev-links a:hover {
    background-color: #50D0FF;
    color: #212529;
}

.dev-links i:hover {
    color: #212529;
}

.dev-links a:nth-child(1):hover {
    color: #50D0FF;
    background-color: #FF7F50;
}

.cet5 {
    text-align: center;
}