* {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    /* 16px */
    color: #212529;
    margin: 0;
    padding: 0;
}

/* TAGS */
h1 {
    font-size: 2.8125rem;
}

h3 {
    font-size: 2.188rem;
}

h4 {
    font-size: 1.25rem;
}

body {
    background-color: #F9DCC5;
    /* background-image: linear-gradient(to bottom right, #FF7F50, #F9DCC5, #FFFFFF); */
    background-image: linear-gradient(to bottom right, #FFFFFF, #FFFFFF, #F9DCC5, #FFFFFF, #FFFFFF);
}

p {
    font-size: 1.15rem;
    text-align: justify;
    padding-right: 1rem;
}

a {
    text-decoration: none;
    color: #212529;
}

i {
    transition: 0.3s;
}

/* ID */


/* CLASS */
.navbar {
    background-color: #FF7F50;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.dashboard .nav-link {
    color: #212529;
    transition: 0.3s;
}

.nav-link:hover {
    color: #50D0FF;
}

.nav-link i {
    transition: 0.3s;
}

.nav-link:hover>i {
    color: #50D0FF;
}

.user-menu {
    display: flex;
    align-items: center;
}

/* ------ */

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySlides {
    display: none;
}

.slide {
    border-radius: 10px;
    width: 100%;
}

.indicators {
    text-align: center
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #BBBBBB;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* ------ */

.gallery {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.card-pet {
    text-decoration: none;
    color: #000000;
    transition: 0.3s;
}

.card-pet:hover {
    color: #50D0FF;
}

.card-box {
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.card-box .card-thumbnail {
    overflow: hidden;
}

.card-box .card-body h3,
h5 {
    text-decoration: none;
}

.article div:nth-child(1) {
    border-radius: 10px;
    border-top: 10px solid #FF7F50;
    background-color: #FFFFFF;
}

/* ------ */

.desc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}

/* ------ */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #FF7F50;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.footer h4 {
    text-transform: uppercase;
}

.footer p {
    width: 75%;
}

.footer a {
    text-decoration: none;
    color: #212529;
    transition: 0.5s;
}

.quick-links a:hover {
    color: #50D0FF;
}

.quick-links li {
    padding-bottom: 0.25rem;
}

.dev-links a:hover {
    background-color: #50D0FF;
    color: #212529;
}

.dev-links i:hover {
    color: #212529;
}

.dev-links a:nth-child(1):hover {
    color: #50D0FF;
    background-color: #FF7F50;
}

.cet5 {
    text-align: center;
    background-color: #FFFFFF;
}

/* Media Queries */
/* Mobile */
@media only screen and (max-width:480px) {
    .desc {
        width: 100%;
    }

    .dashboard {
        padding: 1rem;
    }

    .footer {
        text-align: center;
    }

    .footer p {
        width: 100%;
    }
}