/* home-page */
.introSlides {
    display: none;
    /* Hide the images by default */
}

.slide {
    border-radius: 10px;
    width: 100%;
}

.indicators {
    text-align: center
}

.intro {
    display: flex;
    justify-content: center;
    text-align: center;
}

.btn-custom {
    background-color: #FF7F50;
    border-radius: 10px;
    transition: 0.5s;
    color: #FFFFFF;
}

.btn-custom:hover {
    animation: pulse 1s infinite;
    transition: .3s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    70% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}


/* ------ */
.product {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-group>.row {
    overflow-x: auto;
    flex-wrap: nowrap;
    width: 90%;
}

.product-group>.row>.product-gallery {
    display: inline-block;
    float: none;
}

.product-gallery {
    text-align: center;
}

.product-gallery .card-box {
    border-radius: 10px;
    background-color: #FFFFFF;
}

.card-box {
    height: 100%;
    border-left: 10px solid #FF7F50;
}

/* ------ */
.about {
    display: flex;
    justify-content: center;
    background-color: #FF7F50;
    border-radius: 50px;
}

.contact {
    display: flex;
    justify-content: center;
}

.contact>.col-md-3 {
    background: #50D0FF;
    padding: 4%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.contact-info {
    margin-top: 10%;
}

.contact-info img {
    margin-bottom: 15%;
}

.contact-info h2 {
    margin-bottom: 10%;
}

.contact>.col-md-9 {
    background: #FFFFFF;
    padding: 3%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.contact-form label {
    font-weight: 600;
}

.contact-form button {
    background: #FF7F50;
    color: #FFFFFF;
    font-weight: 600;
    width: 25%;
}

.contact-form button:focus {
    box-shadow: none;
}

/* home-page */