/* shop-page */
.header {
    text-align: center;
}

.product-gallery .card-product {
    text-decoration: none;
    color: #000000;
    transition: 0.3s;
}

.product-gallery .card-pet:hover {
    color: #50D0FF;
}

.product-gallery .card-box {
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    background-color: #FFFFFF;
    height: 100%;
}

.product-gallery .card-box .card-thumbnail {
    overflow: hidden;
}

.product-gallery .card-box .card-body {
    text-decoration: none;
    text-align: center;
}

.btn-custom {
    background-color: #FF7F50;
    border-radius: 10px;
    transition: 0.5s;
}

/* shop-page */

/* product-page */
.product-profile {
    display: flex;
    justify-content: center;
}

.rel-product {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* product-page */

/* IE 11 */
select::-ms-expand {
    border: none;
    display: none;
}