/* shop-page */
.header {
    text-align: center;
}

.card-box {
    border-radius: 10px;
    background-color: #FFFFFF;
}

.product-gallery .card-product {
    text-decoration: none;
    color: #000000;
    transition: 0.3s;
}

.product-gallery .card-pet:hover {
    color: #50D0FF;
}

.product-gallery>.card-box {
    height: 100%;
}

.product-gallery .card-box .card-thumbnail {
    overflow: hidden;
}

.product-gallery .card-box .card-body {
    text-decoration: none;
    text-align: center;
}

.btn-custom {
    background-color: #FF7F50;
    border-radius: 10px;
    transition: 0.5s;
}

.btn-custom:hover {
    background-color: #FF5A1D;
}

/* shop-page */